<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ERROR :O</title>
</head>
<body>

<div style="display: flex; align-items: center; justify-content: center; flex-direction: column; flex-wrap: wrap;">

    <h1 style="font-size: 30px;">ERROR</h1>

    <p style="font-size: 15px;">run `docker logs &lt your_container_id  &gt` for more details</container_id></p>
    <img src="{{url_for('static', filename='404err.gif')}}" alt="404" style="height: 35em; width: 45em;">
</div>

</body>
</html>